@model MvcLesson.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrator</title>
</head>
<body>
    <h4>@Html.ActionLink("Выход", "Index")</h4>
<div>
    <h1>Система Help Desk</h1>
</div>
</body>
</html>
