@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.ActionLink("Войти", "RedirectToLoginPage")
    <meta name="viewport" content="width=device-width"/>
    <title>Help Desk</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>
    <style>
        .btn a {
            color: white;
            text-decoration: none;

        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
<div class="text-center">
    <div class="panel-heading text-center">
        <h2>СИСТЕМА ЗАЯВОК HELP DESK</h2>
    </div>
    <h3>Для обращения в службу поддержки IT-отдела подайте заявку</h3>
    <br/>
    <div class="btn btn-success" style="font-size: large">
        @Html.ActionLink("Подать заявку", "HelpDeskForm")
    </div>
</div>
</body>
</html>