
@model MvcLesson.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отправка заявки</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body { background: #f1f1f1; }
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "mail.fckrasnodar.ru";
            WebMail.SmtpPort = 25;
            WebMail.EnableSsl = false;
            WebMail.UserName = "help-desk@fckrasnodar.ru";
            WebMail.Password = "7JxW7ktNfb";
            WebMail.From = "help-desk@fckrasnodar.ru";

            if (Model.Department == "Базовая школа") //БАЗОВАЯ ШКОЛА
            {
                WebMail.Send("i.panfilov@fckrasnodar.ru", "ЗАЯВКА ТЕХНИЧЕСКОЙ ПРОБЛЕМЫ",
                    String.Format($"От кого: {Model.Name}\n" +
                                  $"E-mail: {Model.Email}\n" +
                                  $"Телефон: {Model.Phone}\n" +
                                  $"Локация: {Model.Location}\n" +
                                  $"Приоритет: {Model.Priority}\n" +
                                  $"IT-отдел: {Model.Department}\n" +
                                  $"Проблема: {Model.BodyEmail}"));
            }

            else if (Model.Department == "Академия") //АКАДЕМИЯ
            {
                WebMail.Send("master_fatum@hotmail.com", "ЗАЯВКА ТЕХНИЧЕСКОЙ ПРОБЛЕМЫ",
                    String.Format($"От кого: {Model.Name}\n" +
                                  $"E-mail: {Model.Email}\n" +
                                  $"Телефон: {Model.Phone}\n" +
                                  $"Локация: {Model.Location}\n" +
                                  $"Приоритет: {Model.Priority}\n" +
                                  $"IT-отдел: {Model.Department}\n" +
                                  $"Проблема: {Model.BodyEmail}"));
            }

            else if (Model.Department == "Футбольный клуб") //ФУТБОЛЬНЫЙ КЛУБ
            {
                WebMail.Send("i.panfilov@fckrasnodar.ru", "ЗАЯВКА ТЕХНИЧЕСКОЙ ПРОБЛЕМЫ",
                    String.Format($"От кого: {Model.Name}\n" +
                                  $"E-mail: {Model.Email}\n" +
                                  $"Телефон: {Model.Phone}\n" +
                                  $"Локация: {Model.Location}\n" +
                                  $"Приоритет: {Model.Priority}\n" +
                                  $"IT-отдел: {Model.Department}\n" +
                                  $"Проблема: {Model.BodyEmail}"));
            }

        }
        catch (Exception ex)
        {
            @:<b>К сожалению при отправке письма возникла ошибка.</b><br/>
            @:<b>@ex.Message</b>
            return;
        }
    }
    <div class="text-center">
        <h1>Спасибо, @Model.Name!</h1>
        <div class="lead">
            @if (Model.Priority == true)
            {
                @: Ваша заявка направлена в IT-отдел и в ближайшее время будет обработана! Спасибо!
            }
            else
            {
                @: Ваша заявка направлена в IT - отдел и будет обработана! Спасибо!
            }
        </div>
    </div>
</body>
</html>